# Created by .ignore support plugin (hsz.mobi)

#PHPStorm
.idea

#Composer
vendor

#Logs
/logs/app.log


#Apache
/public/.htaccess

#Environment
/.env
/logs/access.log
/logs/error.log
/mm/slim.mmd
/nbproject/project.properties
/nbproject/project.xml