### Используется самый примитивный вариант, один файл настроек. Вполне возможно, этого будет достаточно.
### На случай, если потребуется динамически разворачивать окружение, доступны материалы:
### https://gist.github.com/msankhala/3c282abf546318a2662e
### https://phpprofi.ru/blogs/post/72

APP_ENV = 'local'
DISPLAY_ERROR_DETAILS = 'true'
ADD_CONTENT_LENGTH_HEADER = 'false' #Allow the web server to send the content-length header


### Database
DB_HOST     = 'HOST'
DB_NAME     = 'DB'
DB_USER     = 'USER'
DB_PASSWORD = 'PASSWORD'